
.makeLogin, .makeCreateAccount{
    font-weight: bold;
    font-size: 24px;
}
.form {
    width: 75vw;
    margin: 0 auto;         
    padding: 20px;          
    max-width: 500px;       
}

.input-container {
    display: flex;
    align-items: center;    
    gap: 10px;              
    margin-bottom: 15px;    
}

.input-container label {
    min-width: 80px;       
    font-weight: bold;
}

/* Side bar*/
.sideBar{
    background-color: #2d2d2d;
}